 body{
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #1e1e1e;
    color: #e5e5e5;
 }

.header {
    text-align: center;
    margin-bottom: 30px;
    background: #2a2a2a;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 15px;
    box-shadow: 0 0 15px rgba(62,160,255,0.4);
}

 .highlight{
    color: #3ea0ff;
 }

 .section {
    background-color: #2a2a2a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1f1f1f;
    border-radius: 8px;
    overflow: hidden;
}
 th, td{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
 }

 th{
    background-color: #0077cc;
    color: white;
 }

a {
    color: #3ea0ff;
    text-decoration: none;
    font-weight: bold;
}
 a:hover{
    text-decoration: underline;
 }

 footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #888;
}